<!DOCTYPE html>
<html>
    <head>
        <title>
            <center>Welcome to my CRUD-API</center>
        </title>
    </head>
        <body>
            <h1><center>Welcome to my CRUD-API</center></h1>
            <h1><center>TO ACCESS:</center></h1>
            <p><center>/table to show all the contents</center></p>
            <p><center>/table/(int) to show a specific row</center></p>
            <p><center>/create - to upload data in the table</center></p>
            <p><center>/update - to update the value of an existing row via customers_id</center></p>
            <p><center>/delete(customers_id) - to delete a row via customers_id</center></p>
            <center><a href="{{url_for('read_tables')}}">show all tables</a></center>
        </body>
</html>